<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">All Class Section</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">class section</a>
                        </li>
                        <li class="breadcrumb-item active">All</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">
            <form class="m-4" [formGroup]="addClassSectionForm" (ngSubmit)="onSubmit(addClassSectionForm.value)">
              <mat-card class="addCard">
                <mat-card-header>
                  <mat-card-title *ngIf="!isEdit">Add New Class Section</mat-card-title>
                  <mat-card-title *ngIf="isEdit">Update Existing Class Section</mat-card-title>
                </mat-card-header>
            
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label> Select Class </mat-label>
                  <mat-select formControlName="className">
                    <mat-option>--Select Class --</mat-option>  
                    <mat-option *ngFor="let class of classList" [value]="class.className">{{class.className}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="addClassSectionForm.get('className').hasError('required')">
                    Class name is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width mb-3" appearance="outline">
                   <mat-label>Select Section</mat-label>
                   <mat-select formControlName="sectionName">
                     <mat-option>--Select Section--</mat-option>
                     <mat-option *ngFor="let section of sectionList" [value]="section.sectionName">{{section.sectionName}}</mat-option>    
                   </mat-select>
                   <mat-error *ngIf="addClassSectionForm.get('sectionName').hasError('required')">
                       Section name is required
                   </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Class Teacher</mat-label>
                  <input matInput formControlName="classTeacher" required>
                  <mat-error *ngIf="addClassSectionForm.get('classTeacher').hasError('required')">
                   Class Teacher is required
                  </mat-error>
                  <mat-error *ngIf="addClassSectionForm.get('classTeacher').hasError('pattern')">
                   only Alphabet is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width mb-3" appearance="outline">
                 <mat-label>Strength</mat-label>
                 <input matInput formControlName="strength" required>
                 <mat-error *ngIf="addClassSectionForm.get('strength').hasError('required')">
                   Strength is required
                 </mat-error>
                 <mat-error *ngIf="addClassSectionForm.get('strength').hasError('pattern')">
                   only number is allowed
                 </mat-error>
                </mat-form-field>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <button *ngIf="!isEdit" class="mr-3" [disabled]="!addClassSectionForm.valid " mat-raised-button color="primary">Submit</button>
                        <button *ngIf="isEdit" class="mr-3"  [disabled]="!addClassSectionForm.valid " mat-raised-button color="primary">Update</button>
                        <button type="reset" id="btnreset" (click)="resetbtn()" mat-button>Reset</button>
                    </div>
                </div>
              </mat-card>
            </form>    
        </div>

        <div class="col-sm-9 col-md-6 col-lg-8">
          <mat-card class="addCard">
              <mat-card-header>
                  <mat-card-title>All Class Section Lists</mat-card-title>
              </mat-card-header>
              <mat-form-field>
                  <mat-label>Search Records</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                </mat-form-field>
                
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" [hidden]="!isTableSearchData" [hidden]="!isTableHasData" matSort>
                
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                
                    <!-- Progress Column -->
                    <ng-container matColumnDef="className">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.className}}</td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="sectionName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Section Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.sectionName}}</td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="classTeacher">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Teacher </th>
                      <td mat-cell *matCellDef="let row"> {{row.classTeacher}} </td>
                    </ng-container>
                
                    <!-- Color Column -->
                    <ng-container matColumnDef="strength">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Strength </th>
                      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.strength}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>  
                      <td mat-cell *matCellDef="let row;" class="pr-0">
                          <button mat-icon-button color="accent" class="btn-tbl-edit" (click)="editClassSectionData(row)">
                              <mat-icon aria-label="Edit" class="col-white">edit
                              </mat-icon>
                          </button>
                          <button mat-icon-button color="accent"
                              class="btn-tbl-delete" (click)="deleteClassSection(row)">
                              <mat-icon aria-label="Delete" class="col-white">delete
                              </mat-icon>
                          </button>
                      </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <div [hidden]="isTableSearchData">
                      No data matching the filter "{{input.value}}"
                  </div>
                  <div [hidden]="isTableHasData">
                      No record found
                  </div>
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
          </mat-card>
      </div>
    </div>        
</section>    
