<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">All Student</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Student</a>
                        </li>
                        <li class="breadcrumb-item active">All</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <mat-card class="addCard">
                <mat-card-header>
                    <mat-card-title><u> All Student Lists </u>
                    <button mat-mini-fab color="warn"  [hidden]=!selection.hasValue()
                        (click)="removeSelectedRows()">
                        <mat-icon class="col-white">delete</mat-icon>
                    </button> </mat-card-title>
                    <div>
                        <ul class="header-buttons">
                            <li>
                                <div class="icon-button-demo">
                                    <button mat-mini-fab color="primary"
                                        (click)="addNewStudent()">
                                        <mat-icon class="col-white">add</mat-icon>
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="icon-button-demo">
                                    <button mat-mini-fab color="primary"
                                        (click)="refreshStudentList()">
                                        <mat-icon class="col-white">refresh
                                        </mat-icon>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </mat-card-header>
                <mat-form-field>
                    <mat-label>Search Student</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                  </mat-form-field>
                  
                  <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" [hidden]="!isTableSearchData" [hidden]="!isTableHasData" matSort>

                      <!--  Delete Multiple row  -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                              <mat-checkbox 
                                    (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                              </mat-checkbox> 
                            </th>
                           
                            <td mat-cell *matCellDef="let row">
                              <mat-checkbox
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                              </mat-checkbox>
                            </td>
                          </ng-container>    
                  
                      <!-- Image Column -->
                      <ng-container matColumnDef="uploadImg">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                        <td mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-6"> 
                            <a data-fancybox="gallery" href=""><img [src]="row.uploadImg" /> </a>
                        </td>
                      </ng-container>
                  
                      <!-- Admission Number Column -->
                      <ng-container matColumnDef="admissionNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Admission No. </th>
                        <td mat-cell *matCellDef="let row"> {{row.admissionNo}}</td>
                      </ng-container>
                  
                      <!-- Academic Year Column -->
                      <ng-container matColumnDef="academicYear">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Academic Year </th>
                        <td mat-cell *matCellDef="let row"> {{row.academicYear}} </td>
                      </ng-container>
                  
                      <!-- First Name Column -->
                      <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.firstName}} {{row.middleName}} {{row.lastName}} </td>
                      </ng-container>

                      <!-- Gender Column -->
                      <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
                      </ng-container>
                  
                      <!-- Class Name Column -->
                      <ng-container matColumnDef="className">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Name </th>
                        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.className}} </td>
                      </ng-container>

                      <!-- Section Name Column -->
                      <ng-container matColumnDef="sectionName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Section Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.sectionName}} </td>
                      </ng-container>
                  
                      <!-- Roll Number Column -->
                      <ng-container matColumnDef="rollNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Roll No. </th>
                        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.rollNo}} </td>
                      </ng-container>

                      <!-- Admission Date Column -->
                      <ng-container matColumnDef="admissionDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Admission Date </th>
                        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.admissionDate}} </td>
                      </ng-container>


                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>  
                        <td mat-cell *matCellDef="let row;" class="pr-0">
                            <button mat-icon-button color="accent" class="btn-tbl-edit" (click)="editStudentData(row)">
                                <mat-icon aria-label="Edit" class="col-white">edit
                                </mat-icon>
                            </button>
                            <button mat-icon-button color="accent"
                                class="btn-tbl-delete" (click)="deleteStudentData(row)">
                                <mat-icon aria-label="Delete" class="col-white">delete
                                </mat-icon>
                            </button>
                        </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div [hidden]="isTableSearchData">
                        No data matching the filter "{{input.value}}"
                    </div>
                    <div [hidden]="isTableHasData">
                        No record found
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
            </mat-card>
        </div>
    </div>
</section>