<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">All Fees Installment</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a> 
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">fees</a>
                        </li>
                        <li class="breadcrumb-item active">All</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">
            <form class="m-4" [formGroup]="addFeeInstallment" (ngSubmit)="onSubmit(addFeeInstallment.value)">
                <mat-card class="addCard">
                    <mat-card-header>
                        <mat-card-title>Add New Installment</mat-card-title>
                    </mat-card-header> 
                    
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Installment Name</mat-label>
                        <input matInput formControlName="installmentName" required>
                        <mat-error *ngIf="addFeeInstallment.get('installmentName').hasError('required')">
                            Installment name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Installment Last Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="instLastDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker touchUi></mat-datepicker>
                        <mat-error *ngIf="addFeeInstallment.get('instLastDate').hasError('required')">
                            Installment Last Date is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Monthly Installment</mat-label>
                        <mat-select formControlName="monthlyInst" multiple (selectionChange)="selectInstMonths($event)">
                          <mat-option class="matOption" *ngFor="let monthInst of filteredMonthlyInstallment" [value]="monthInst">{{monthInst.monthName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="addFeeInstallment.get('monthlyInst').hasError('required')">
                            Monthly Installment is required
                        </mat-error> 
                    </mat-form-field>
                      
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <button class="mr-3" [disabled]="!addFeeInstallment.valid " mat-raised-button color="primary">Submit</button>
                            <button type="reset" id="btnreset" mat-button>Reset</button>
                        </div>
                    </div>
                </mat-card> 
            </form>
        </div>
        <div class="col-sm-9 col-md-6 col-lg-8">
            <mat-card class="addCard">
                <mat-card-header>
                    <mat-card-title>All Fees Installment Lists</mat-card-title>
                </mat-card-header>
                <mat-form-field>
                    <mat-label>Search Fees Installment</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ABC" #input>
                  </mat-form-field>
                  
                  <div class="mat-elevation-z8">
                    <form class="m-4" [formGroup]="editFeeInstallmentData">   
                    <table mat-table [dataSource]="dataSource" [hidden]="!isTableSearchData" [hidden]="!isTableHasData" matSort>
                  
                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                      </ng-container>
                      
                      <!-- Progress Column -->
                      <ng-container matColumnDef="installmentName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Installment Name </th>
                        <td mat-cell *matCellDef="let row">
                            <div *ngIf="isEdit == row.id">
                                <mat-form-field floatLabel="never">
                                    <input type="text" matInput formControlName="installmentName">
                                </mat-form-field> 
                            </div>
                            <div *ngIf="isEdit != row.id">
                              <span>
                                {{row.installmentName}}
                              </span>
                            </div>
                        </td>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="instLastDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Installment Last Date </th>
                        <td mat-cell *matCellDef="let row"> 
                            <div *ngIf="isEdit == row.id">
                                <mat-form-field floatLabel="never">
                                    <input matInput [matDatepicker]="picker" formControlName="instLastDate" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker touchUi></mat-datepicker>
                                </mat-form-field>   
                            </div>
                            <div *ngIf="isEdit != row.id">
                              <span>
                                {{row.instLastDate}} 
                              </span>
                            </div> 
                        </td>
                      </ng-container>
                  
                      <!-- Color Column -->
                      <ng-container matColumnDef="installMonths">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Installment Month </th>
                        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.installMonths}} </td>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>  
                        <td mat-cell *matCellDef="let row;" class="pr-0">
                            <div *ngIf="isEdit == row.id">
                                <button mat-icon-button color="accent" class="material-icons" [disabled]="!editFeeInstallmentData.valid " (click)="editFeeInstallmentRow(row)">
                                    <mat-icon class="col-white">check_circle </mat-icon>
                                </button>
                                <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="clearFeeInstallmentRow()">
                                    <mat-icon class="material-icons">clear </mat-icon>
                                </button> 
                            </div>
                            <div *ngIf="isEdit != row.id">
                              <span>
                                <button mat-icon-button color="accent" class="btn-tbl-edit" (click)="editFeeInstallment(row)">
                                    <mat-icon aria-label="Edit" class="col-white">edit
                                    </mat-icon>
                                </button>
                                <button mat-icon-button color="accent"
                                    class="btn-tbl-delete" (click)="deleteFeeInstallment(row)">
                                    <mat-icon aria-label="Delete" class="col-white">delete
                                    </mat-icon>
                                </button> 
                              </span>
                            </div>  
                        </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    </form>
                    <div [hidden]="isTableSearchData">
                        No data matching the filter "{{input.value}}"
                    </div>
                    <div [hidden]="isTableHasData">
                        No record found
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
            </mat-card>
        </div>
    </div>  
</section>








