.addCard{
    border-style: solid;
    border-color: black;
  }

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .matOption{
    border-style: solid;
    border-color: black;
  }

  td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}

.mat-table {
  overflow-x: scroll;
  max-width: 99%;
}

.mat-cell,
.mat-header-cell {
  word-wrap: break-word;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: normal;
  overflow: hidden;
  vertical-align: left;
  max-width: 200px;
}

.mat-row,
.mat-header-row {
  display: table-row;
}