<!-- <div class="registrationProcess">
    <!-- <div class="close" (click)="close()">
        <img src="assets/images/cancel.svg" alt="close">
    </div> -->
<!--<h4>{{data.title}}</h4>
    <p>{{data.message}}</p>
    <div class="btn-wrap">
        <button (click)="close()" type="button" class="cancel">Cancel</button>
        <button (click)="confirm()" type="button" class="login">Confirm</button>
    </div>
</div> -->


<div class="disclaimer">
    <h4>{{data.title}}</h4>
    <p>{{data.message}}</p>
    <div class="button-wrapper">
        <button type="button" (click)="close()" mat-raised-button color="accent" class="cancel">Cancel</button>
        <button type="button" (click)="confirm()" mat-raised-button color="accent" class="save">Confirm</button>
    </div>
</div>