  
.addCard{
    border-style: solid;
    border-color: black;
  }

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  table, th, td {
    border: 1px solid black;
    table-layout: auto !important;
    width: auto !important;
  }


  .scrollme {
    overflow-x: auto;
}